@{
    ViewData["Title"] = "About Me";
}
<div class="about_info0">
    <div class="about_info1">
        <img src="~/images/avatar2.png" class="avatar_aboutme" />
        <h1>Alexander</h1>
        <text>My name is Alexander Heim. I am currently attending the HTL Anichstraße as a future Industrial Engineer. This website is an example website and not to be taken serious.</text>
    </div>
</div>

