<div class="articles">
    <div class="article">
        <div class="article_title">
            <b> RANDOM TEXT </b>
        </div>
        <div class="article_text">
            Klein in denen unter er sahen um. Ochsen storen kam gru mag sto bitter. Ehe mag eberhard kurioses spateren nirgends. Eigenes standen bestand pa in da konntet ab meisten kapelle. Weile nun und sunde augen. Laut da rief zu ei es also. Unsicherer hinstellte la ja kuchenture. Gut grasplatz hut herkommen ertastete vogelnest handwerke. 

        </div>
    </div>
    <div class="article">
        <div class="article_title">
            <b> 19.02.2021 - Es ist ein Test </b>
        </div>
        <div class="article_text">
            <p> JA ES IST WAHR, DAS IST EIN TEST! </p>
<img src="https://i.redd.it/pneu6tfbrwj41.png">
        </div>
    </div>
    <div class="article">
        <div class="article_title">
            <b> 19.02.2021 - Es ist spät in der Nacht </b>
        </div>
        <div class="article_text">
            <p> Ja.. es ist wahr. Es ist spät in der Nacht an einem Donnerstag Abend, und was mache ich? Ich programmiere diese Website, weil mein Leben mich langweilt und ich wirklich Spaß am Programmieren habe! </p>
        </div>
    </div>
    <div class="article">
        <div class="article_title">
            <b> testgdfg </b>
        </div>
        <div class="article_text">
            testsezreszreze
        </div>
    </div>
    <div class="article">
        <div class="article_title">
            <b> -4->TITLE<-4- </b>
        </div>
        <div class="article_text">
            -4->HTML_TEXT<-4-
        </div>
    </div>
</div>

<style>
.articles {
}

.article_title {
    border-bottom: solid;
}

.article_text {
    padding-bottom: 20px;
}
</style>